{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} BOCS - Tutorial {% endblock %}</h2>
<div class="how_wide_2" id="doc">
  <!-- Go through one or several examples. Highlight that students should open a second tab where they run the model while going through the text. -->
  Here we walk you through an example application of BOCS. First, conduct the following steps:
  <ol class="tutorial">
    <li>Open a second tab with another instance of the BOCS webpage. Go to "Run model". This will allow you to keep reading this tutorial while running the model.</li>
    <li>Under "Run Model" you will see the entry form. Change the entries to the ones shown in Figure 1 provided here. Then click the "Run" button.</li>
    </ol>
</div>
{% endblock %}
